

/*referenced stackoverflow and W3 schools for these style customizations*/
input[type="text"], input[type="submit"] {

  background-color : yellow; 

}


p {
    border: 1px solid #000
   
}

#lastname {
   font-weight: bold;
}



